body{
    background-color: cornsilk;
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

h1 {font-size: 100px;
    text-align: center;}

    h2 {font-size: 50px;
        text-align: center;
   }




    h1 p {
        line-height: 0; 
    }

    .image-container {
        display: flex;
        justify-content: center;
    }
    




    ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        align-items: center;
        padding: 12px; }

    nav a {
        font-size: 20px;
    }
    
    nav a:hover {
        color: grey;
    }

    a {
        color: teal;
        text-decoration: none;}


