<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Heloísa Vasconcelos</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
    </head>
    <body>
        <nav>
            <ul> 
                <li><a href="/sobremim">Sobre Mim</a></li>
                <li><a href="/portfolio">Portfólio</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/dou">Busca DOU</a></li>
        
            </ul>
        </nav>

        <h1>Heloísa Vasconcelos</h1>
        <h2>Trabalho final de Algoritmos de Automação</h2>
    </body>
</html>