<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Heloísa Vasconcelos - Portfólio</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/portfolio.css') }}">
    </head>


    <body>
        <header>
            Heloísa Vasconcelos
        </header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/sobremim">Sobre mim</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/dou">Busca DOU</a></li>
            </ul>
        </nav>

        <section class="conteudo">
                <h2>Portfólio</h2>
            <ul>

                <li><a href="https://diariodonordeste.verdesmares.com.br/negocios/educacao-financeira-deve-ser-ensinada-desde-cedo-veja-como-abordar-o-tema-com-criancas-1.3151528">Educação financeira deve ser ensinada desde cedo; veja como abordar o tema com crianças</a> </li>
                <p>Matéria premiada na categoria jornalismo online pelo Prêmio Imprensa de Educação ao Investidor (2022), da Comissão de Valores Monetários (CVM)</p>
     
                <li><a href="https://diariodonordeste.verdesmares.com.br/negocios/da-realizacao-a-desistencia-como-as-taxas-de-juros-impactaram-no-sonho-da-casa-propria-1.3270591">Da realização à desistência: como as taxas de juros impactaram no sonho da casa própria</a> </li>
                <p>Matéria premiada na categoria "crédito imobiliário e a crise global" no Prêmio Abecip de Jornalismo (2022), da Associação Brasileira das Entidades de Crédito Imobiliário e Poupança (Abecip)</p> 

                <li><a href="https://diariodonordeste.verdesmares.com.br/negocios/da-madrugada-ao-meio-dia-feirantes-movimentam-a-economia-dos-bairros-de-fortaleza-1.3354531">Da madrugada ao meio-dia, feirantes movimentam a economia dos bairros de Fortaleza</a> </li>
                <p>Matéria reconhecida com segundo lugar pelo Prêmio Sebrae de Jornalismo - Ceará (2024)</p> 
            </ul>

            <div>
                <h2> Outras matérias</h2>
                <ul>
                    <li><a href="https://diariodonordeste.verdesmares.com.br/negocios/eu-nao-tinha-sonhos-cearenses-alcancam-mobilidade-social-por-meio-do-ensino-superior-1.3384161">'Eu não tinha sonhos': cearenses alcançam mobilidade social por meio do ensino superior</a> </li>
                    <li><a href="https://diariodonordeste.verdesmares.com.br/negocios/numero-de-cearenses-nas-universidades-mais-que-dobra-quais-os-impactos-para-a-economia-1.3383030">Número de cearenses nas universidades mais que dobra: quais os impactos para a economia?</a></li>
                    <li><a href="https://diariodonordeste.verdesmares.com.br/negocios/de-caminhoes-e-navios-exportacao-de-frutas-enfrenta-gargalos-de-infraestrutura-no-ceara-1.3259227">De caminhões e navios: exportação de frutas enfrenta gargalos de infraestrutura no Ceará</a></li>
                </ul>
            </div>
        </section>
    </body>       
</html>    
        
        
        
        
           