<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Heloísa Vasconcelos - Sobre mim</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/sobremim.css') }}">
    </head>


    <body>
        <header>
            Heloísa Vasconcelos
        </header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/portfolio">Portfólio</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/dou">Busca DOU</a></li>
            </ul>
        </nav>

 

        <section class="conteudo">

            <img src="{{url_for('static', filename='foto-heloisa.jpg')}}" alt="Foto da Jornalista">

            <div class="texto">
                <h1> Quem é Heloísa Vasconcelos</h1>
                <p>É jornalista formada pela Universidade Federal do Ceará (UFC) e pós-graduanda em Jornalismo de Dados, Automação e Data Storytelling pelo INSPER. </p>
                <p>Autora do livro "Ipomeias - Mulheres do século XIX na imprensa cearense", publicado em 2024 pela Substansia. </p>
                <p>Vencedora do Prêmio Imprensa de Educação ao Investidor (2022) e do Prêmio Abecip de Jornalismo (2022), tendo recebido segundo lugar no Prêmio Sebrae de Jornalismo - Edição Ceará (2024).</p>
                <p>Teve passagem pelos jornais O Povo e Diário dos Nordeste, alguns dos maiores do Nordeste brasileiro, além de colaborações no O Estado de S. Paulo.</p>
                <p>Atualmente cobre o mercado de apostas e iGaming no Aposta Legal Brasil. </p>
            </div>
        </section>
 
    </body>
</html>


