

body{
    background-color: cornsilk;
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 12px; }

nav a {
    font-size: 20px;
}

nav a:hover {
    color: grey
}

a {
    color: teal;
    text-decoration: none;}

    section ul{
        font-weight: bold;
        line-height: 0;
    
    }

    div ul {

        line-height: 1;
    }
    
header{
        font-size:60px;
        text-align: center;
    }